<h1 class="title">Acerca de Nosotros</h1>

<div id="about">
    <p>Hola, somos Brokers.<p>

    <p>
        Un equipo que busca salvar el mundo desarrollando el potencial
        de las personas.
    </p>

    <p>
        El DISC RED* es una de nuestros mayores herramientas para que una persona
        se entienda y entienda a los demás, si quieres sacar el mayor potencial
        de esta herramienta
        <!--da click en el botón y nos comunicaremos contigo.-->
        escribenos a
        <a  href="mailto:brokers.inndutainment@gmail.com?Subject=Contacto"
            target="_top">brokers.inndutainment@gmail.com</a>
    </p>

</div>
