<h1 class="title">Introducción</h1>

<div class="test_intro">
    <p>
        !Felicitaciones campeon@! Estas a punto de obtener una herramienta que
        va a revolucionar la forma como te ves a ti mismo y te relacionas con
        los demás.
    </p>

    <h3>Instrucciones</h3>

    <ul>
        <li>
            El DISC red® va a indicarte que tipo de personalidad tienes haciéndote
            una serie de preguntas.
        </li>

        <li>
            El DISC red® va a indicarte que tipo de personalidad tienes
            haciéndote una serie de preguntas.
        </li>

        <li>
            Tienes cuatro grupos de valores, debes indicar con cual grupo te
            identificas más y con cual grupo te identificas menos, así como
            aparece en la imagen.
            <img class="instruction-example"
                src="https://disc-test-maxrevilo.c9.io/images/instructions-example.png"></img>
        </li>

        <li>
            Además tienes un gran desafío debes ser lo más sincero posible, ya
            que este test es para que entiendas el tu verdadero yo.
        </li>

        <li>
            Qué comience la prueba que marcara tu vida.
        </li>
    </ul>

    <a class="start" ng-href="#/test/{{ test.$id }}/questions/1">
        Empezar
    </a>
</div>
